footer {
    background: #9d64b3;
    padding: 25px;
    display: flex;
    justify-content: center;

    p {
        margin: 0;
        font-size: 24px;
        font-weight: 600;
        color: #FFFFFF;
    }
}