header {
    
    .title-panel {
        margin-top: 25px;
        margin-bottom: 25px;

        &--socials {
            a {
                color: #000000;
    
                &:hover {
                    opacity: 50%;
                }
            }

            i {
                font-size: 30px;
            }
        }

        h1 {
            text-align: center;
        }
        
        &--languages {
            p {
                margin: 0 5px;
                font-size: 18px;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    opacity: 50%;
                }
            }
        }
    }

    .navigation-panel {
        padding-top: 15px;
        padding-bottom: 15px;
        background: #cca9cf;
        p {
            font-size: 28px;
            font-weight: 700;
            width: auto;

            margin: 0;
        }

        ul {
            margin: 0;
            width: auto;

            li {
                display: none;
                position: absolute;
                z-index: 1;
                // padding-top: 30px;

                ul {
                    font-size: 24px;
                    font-weight: 700;
                    background: #cca9cf;
                    padding: 20px 20px;
                    border-top: 1px dashed gray;

                    &:first-of-type {
                        border-top: none;
                    }
                }
            }

            &:hover {
                li {
                    display: block;
                }
            }
        }

        

        a {
            color: #000000;
            text-decoration: none;

            &:hover {
                opacity: 50%;
            }
        }
    }
}