header {
    margin-bottom: 100px;
    
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }

    .header {
        &__more-container{
            position: fixed;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0 50px;
            background: #9d64b3;
            height: 75px;
            transition-timing-function: ease-in-out;
            transition: 250ms;
            z-index: 190;

            &--title {
                // justify-self: center;
                color: #FFFFFF;
                font-size: 24px;
            }

            &--button {
                margin-left: auto;
                width: 50px;
                height: 50px;
                color: #FFFFFF;
                cursor: pointer;
                // justify-self: flex-end;
            }

            @media screen and (min-width: 768px) {
                display: none;
            }
        }

        &__container {
            @media screen and (max-width: 767px) {
                position: fixed;
                top: 0;
                width: 100vw;
                height: 100vh;
                background: #9d64b3;
                display: none;
                z-index: 200;
            }

            @media screen and (min-width: 768px) {
                display: block !important;
            }

            &--button {
                position: absolute;
                top: 50px;
                right: 50px;
                margin-left: auto;
                width: 50px;
                height: 50px;
                color: #FFFFFF;
                cursor: pointer;
                // justify-self: flex-end;

                @media screen and (min-width: 768px) {
                    display: none !important;
                }
            }
        }
    }
    .title-panel {
        margin: 50px 0;

        @media screen and (min-width: 768px) {
            margin: 25px 0;
        }

        &__socials-container {
            &--social {
                color: #FFFFFF;
    
                &:hover {
                    opacity: 50%;
                }

                @media screen and (min-width: 768px) {
                    color: #9d64b3;
                }
            }

            &--icon {
                font-size: 40px;
                @media screen and (min-width: 768px) {
                    font-size: 30px;
                }
            }
        }

        h1 {
            text-align: center;
            margin: 0;
            color: #FFFFFF;

            @media screen and (min-width: 768px) {
                color: #9d64b3;
            }
        }
        
        &__languages-container {
            &--language {
                margin: 0 5px;
                font-size: 24px;
                font-weight: 600;
                color: #FFFFFF;
                cursor: pointer;

                &:hover {
                    opacity: 50%;
                }

                @media screen and (min-width: 768px) {
                    font-size: 18px;
                    color: #9d64b3;
                }
            }
        }
    }

    .navigation-panel {
        padding-top: 15px;
        padding-bottom: 15px;
        background: #9d64b3;

        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media screen and (min-width: 768px) {
                flex-direction: row;
                justify-content: space-between;
            }

            &--item {
                font-size: 36px;
                font-weight: 800;
                width: auto;
                text-align: center;
                color: #FFFFFF;
    
                margin: 25px 0 !important;

                color: #FFFFFF;
                text-decoration: none;

                cursor: pointer;
    
                &:hover {
                    opacity: 50%;
                }
    
                @media screen and (min-width: 768px) {
                    margin: 0 !important;
                    font-size: 28px;
                }
            }

        }
    }
}